.scroll-nav__item {
    list-style: none outside none;
}

.scroll-nav__item--active > ul {
    visibility: block;
}

.scroll-nav__item > ul {
    visibility: none;
}

.sidebar-split {
    border-bottom: 5px solid rgba(255,255,255,.1);
  }