


ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}

ul ul, ol ul, ul ol, ol ol {
    margin-bottom: 0;
}

/* Second list item indent */
.scroll-nav li li {
    margin-left: -25px;
}

.scroll-nav__list {
    list-style: none outside none;
}

.scroll-nav__list ol {
    list-style: none outside none;
}

.scroll-nav ol ol {
    display: none;
}


.scroll-nav li.active > ol, ul{
    display: block;
}

.scroll-nav li.active > a {
    border-left: 2px solid;
    margin-left: -20px;
    padding-left: 18px;
    font-weight: bold;
}

/* Tables */
table {
    font-size: 15px;
    border: 3px solid #e5e5e5;
    width: auto;
}

td blockquote {
    padding-right: 0rem;
    padding-left:   0rem;
    margin: auto;
    border-left: none;
} 

.spacer {
    border-bottom: 5px solid rgba(255,255,255,.1);
  }

.sidebar-split {
    border-bottom: 5px solid rgba(255,255,255,.1);
  }